<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER INFO</title>
</head>
<body>
    <div class="container">
        <h1>{{ data.title }}</h1>
        <table>
            {% for key, value in data.items %}
                {% if key != 'title' %}
                    <tr>
                        <th>{{ key }}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</body>
</html>