{% extends 'base.html' %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }
    .custom-container {
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        text-align: center;
        color: #333;
    }
    input[type='text'] {
        height: 2vh;
    }
    .comment-list-item {
        padding: 10px;
        margin: 5px 0;
        background: #eaeaea;
        border-radius: 5px;
        transition: background 0.3s;
    }
</style>
<div class="mt-lg-5 custom-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ todo.title }}</h1>
        <div class="d-flex">
            <button class="btn btn-primary me-2" onclick="location.href='{% url 'cbv_todo_update' todo.id %}'">수정하기</button>
            <form method="POST" action="{% url 'cbv_todo_delete' todo.id %}">
                {% csrf_token %}
                <button id="delete-button" type="submit" class="btn btn-danger">삭제하기</button>
            </form>
        </div>
    </div>
    <table class="table">
        {% for key, value in todo.items %}
            {% if key == 'completed_image' and value %}
                <div>
                    <img src="http://127.0.0.1:8000/media/{{ value }}" alt="완료 인증 이미지" class="w-100" style="max-height: 400px; object-fit: cover;">
                </div>
            {% endif %}
            {% if key in 'description start_date end_date is_completed created_at updated_at' %}
                <tr>
                    <th class="bg-light">{{ key }}</th>
                    {% if key == 'description' %}
                        <td>{{ value | safe }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
<div class="custom-container mt-lg-2">
    <h2>Comment</h2>
    <hr>
    <form method="POST" action="{% url 'comment_create' todo.id %}" class="d-flex justify-content-evenly align-items-center">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button class="btn btn-primary">댓글달기</button>
    </form>
    <ul class="list-unstyled" id="comment_wrapper">
    {% for comment in page_obj %}
        <li class="comment-list-item container-fluid">
            <div class="ps-2 d-flex justify-content-between align-items-center">
                <p class="mb-0">{{ comment.user }}</p>
                {% if request.user == comment.user or request.user.is_staff %}
                <div class="text-decoration-none a-group">
                    <form method="POST" action="{% url 'comment_delete' comment.id %}">
                        {% csrf_token %}
                        <div class="btn-group-sm">
                            <button class="btn btn-primary" type="button" onclick="modify_view({{ comment.id }})">수정하기</button>
                            <button type=submit class="btn btn-danger">삭제하기</button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <hr>
            <div>
                <p class="p-lg-2">{{ comment.message }}</p>
                <p class="text-end">{{ comment.created_at }}</p>
            </div>
            <form id="comment_modify_form_{{ comment.id }}" style="display: none" method="POST" action="{% url 'comment_update' comment.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button class="btn btn-primary btn-sm">수정하기</button>
            </form>
        </li>
    {% endfor %}
    </ul>
    {% include 'pagination.html' with fragment='comment_wrapper' %}
</div>
<script>
    function modify_view(commentId) {
        const modifyForm = document.getElementById(`comment_modify_form_${commentId}`);
        if (modifyForm.style.display === "none") {
            modifyForm.style.display = ""
        } else if (modifyForm.style.display === "") {
            modifyForm.style.display = "none"
        }
    }
</script>
{% endblock %}
